@import 'reset';
@import 'mixins';
@import 'settings'; 


/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/


@include tablets { 
    h2 {font: 28px/42px "museo_cyrl700";}
}
@include phones { 
    h2 {font: 24px/36px "museo_cyrl700";}
}
/*---------------------- 
    BUTTON STYLES
------------------------*/
.button {
  background: -moz-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(234,203,60) 53%, rgb(237,228,86) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(234,203,60) 53%, rgb(237,228,86) 100%);
  background: -ms-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(234,203,60) 53%, rgb(237,228,86) 100%);
  box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, .33),
              0px -2px 1px 0px rgba(0, 0, 0, 0.43) inset;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-family: 'museo_cyrl900';
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba( 0, 0, 0, .35);
  border: 0;
  @include transition(all, .3s);
  
  &:hover {
    background: -moz-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(230,177,34) 53%, rgb(230,177,34) 100%);
    background: -webkit-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(230,177,34) 53%, rgb(230,177,34) 100%);
    background: -ms-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(230,177,34) 53%, rgb(230,177,34) 100%);
  }

  &.button--big {
    border-radius: 10px;
    width: 270px;
    height: 55px;
    padding-top: 15px;
    font-size: 20px;
  }

  &.button--small {
    border-radius: 10px;
    width: 170px;
    height: 40px;
    font-size: 14px;
    padding-top: 11px;
  }
}
button {
  &.button {
    &.button--big,
    &.button--small {
      padding-top: 0;
    }  
  }
}

/*---------------------- 
    HEADER STYLES
------------------------*/
header {
            margin: 0;
            left:0;
            @include position(absolute, 0, auto, auto, 0);
            width: 100%;
            z-index: 100;
            top: 55px;
            @include transition(all, .4s);
            &:after {
                content: '';
                display: block;
                width: 960px;
                position: absolute;
                bottom: -60px;
                left: 0;
                z-index: 2;
                height: 60px;
                background-image: url("../images/shadow.png");
                background-repeat: no-repeat;
                right: 0;
                margin: auto;
            }
            
    @include tablets {
             @include position(fixed, 0, auto, auto, -100%);
             width: 260px !important;
             height: 100%;
             overflow: scroll;
             text-align: center;
             margin-top: 0;
             padding: 20px 0;
             z-index: 100;
             background-color: $colorGrey;
             
             &.active {left: 0;}
             &:after {display: none;}
    }
    @media (max-width: 1000px) and (min-height: 600px) {
        @include flex($alignI: center, $justify: space-around,  $direction: column);  
    }
            
     /*-------- header_info ---------*/       
    .header__info {
         background: url('../images/header_info_bg.jpg') repeat center center;
         padding: 5px 0;
        .wrapper {
             @include flex();   
        }
         
        .logo {
                    position: relative;
                    height: 100%;
                    display: block;
            & img {
                        display: inline-block;
                        vertical-align: middle;
            }
            & span {
                        display: inline-block;
                        vertical-align: middle;
                        font: $fontVerdana;
                        text-align: left;
                        margin-left: 24px;
            }
        }

        .contactUs {
            color: $colorGrey;
            text-align: left;
            margin-left: 5%;
            a {
                display: block;
                text-align: left;
                font-family: 'museo_cyrl700';
            } 
            .tel {
                font-size: 24px;
            }
            .mail {
                font-size: 14px;
                color: $colorBlue;
                margin: 5px 0;
            }
            span  {
                font-size: 14px;
                text-align: left;
                color: $colorGrey;
                font-family: 'museo_cyrl700';
            }  
        }
        @include tablets { 
            background: transparent;
            .wrapper {
                width: 100%;
                display: block;
            }
            .logo {
                    width: 100%;
                    height: auto;
                & img {
                    display: block;
                    width: 100px;
                    margin: 10px auto;
                }
                & span {
                    display: block;
                    width: 100%;
                    color: #FFF;
                    text-align: center;
                    margin: 5px 0 10px;
                }
            }
            .contactUs {
                color: #FFF;
                text-align: center;
                margin: 20px 0;
                a {
                    text-align: center !important;
                }
                span {
                    color: #FFF;
                }
            }

        }
    }/*-------- end header__info ---------*/     


    /*-------- nav ---------*/
    nav {
        width: 100%;
        background-color: $colorGrey;
        position: fixed;
        top: 0;
        z-index: 10;
        & ul {
                    @include flex();
                    list-style-type: none;
                    margin: 0;
            li:before {content: " | "; color: $colorGreyL; margin-right: 0; vertical-align: middle;}
            li:first-of-type:before {display: none;}
            &  a {
                    font:  12px 'museo_sans_cyrl500';
                    text-transform: uppercase;
                    color: #FFF;
                    display: inline-block;
                    padding: 22px 18px 15px;
                    text-decoration: none;
                    border-bottom: 4px solid transparent;
                    @include transition(all, .1s);
                &:hover {border-bottom: 4px solid $colorGreyL;}
                &.active {border-bottom: 4px solid $colorBlue;}
            }

        }

        @include tablets { 
            display: block;
            height: 300px;
            width: 100%;
            overflow: scroll;
            position: relative;
                & ul { 
                    @include flexDirection(column);
                    width: 100% !important;
                    height: 100%;
                }
                li:before {display: none;}
                    &  li a  {   
                        margin: 0 0 5px 0;
                        padding: 0 0 4px 0;
                        &.active {color: #ECCC1D;}
                        &:hover  {background: transparent;}
                    } 
        }
    }/*-------- end nav ---------*/  
    &.hasScrolled nav {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        @include tablets { 
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
    }  
       
}/*-------- end header ---------*/       

.logo--mobile {
    @include position(absolute, 20px, 0, auto, 0);
    display: none;
    margin: auto;
    z-index: 3;
    @include tablets {
        display: block; 
    }
}





/* ------- menu toggle --------- */
.menu-button                  {    
                                    display: none;
                                    width: 50px;
                                    height: 50px;
                                    @include position(fixed, 15px, 15px, auto, auto);
                                    margin: auto; 
                                    cursor: pointer;
                                    z-index: 100;
                                    background-color: #2C2D2E;
                                    border: none;
                                    -webkit-border-radius: 4px;
                                            border-radius: 4px;
      .menu-line                    {
                                          display: block;
                                          @include position(absolute, auto, 0, auto, 0);
                                          width: 60%;
                                          height: 5px;
                                          background-color: #fff;
                                          -webkit-border-radius: 1px;
                                          border-radius: 1px;
                                          @include transition(all, .4s);
      }

      .top_line                     {   top: 12px;  margin: auto;}
      .middle_line                  {   top: 22px;  margin: auto;}
      .bottom_line                  {   bottom: 12px; margin: auto;}

      &.active                      {   -webkit-border-radius: 6px; border-radius: 6px;}
      &.active .top_line            {   @include transform(rotate(45deg)); top: 45%;}
      &.active .bottom_line         {   @include transform(rotate(-45deg)); bottom: 45%;}
      &.active .middle_line         {   width: 0; left: 50%;}

      @include tablets {
            display: block;
      }
      @include m320 {
            right: 5px;
      }

}




/*---------------------- 
    OFFER STYLES
------------------------*/
.offer {
      height: 100%;
      min-height: 650px;
      max-height: 900px;
      padding: 100px 0 0 0;
      position: relative;
      @media (min-width: 767px) {
         background: url('../images/offer_bg.jpg') no-repeat center center;
         background-size: cover;
      } 
      @include tablets {
            min-height: 450px;
            background: url('../images/offer_bg_tb.jpg') no-repeat center center;
            background-size: cover;
      }
      @include phones {
          background: url('../images/offer_bg_mb.jpg') no-repeat left center;
           background-size: cover;
      }

        .offerInfo {
            height: 100%;
            @include flex($alignI: center, $justify: center, $direction: column);
            z-index: 2;
            position: relative;
            text-align: center;
            & h1 {
                text-transform: uppercase;
                font-size: 58px;
                span {
                    display: block;
                    text-transform: none;
                    font: 24px 'museo_sans_cyrl300';
                    margin: 20px 0 25px;
                }
                    @include tablets {
                        font-size: 48px;
                        span {
                            font-size: 18px;
                        }
                    }
                    @include phones {
                        font-size: 38px;
                        span {
                            font-size: 16px;
                        }
                    }
                    @include m360 {
                        font-size: 32px;
                    }
            }
            p {
                color: $colorBlue;
                font: 28px 'museo_cyrl700';
                 @include tablets {
                        font-size: 24px;
                }
                @include phones {
                        font-size: 20px;
                }
                @include m360 {
                        font-size: 18px;
                }
        }
    }


}

/*---------------------- 
    INFOBLOCKS STYLES
------------------------*/
.infoBlocks {
      @include flex($alignI: top, $justify: center, $wrap: wrap);
      
      .infoBlock  {
                margin-bottom: 40px;
                padding: 0 20px;
                text-align: center;
                color: #FFF;
            &__text p {
                font-size: 14px;
            }
            &_icon {
                        width: 100px;
                        height: 100px;
                        text-align: center;
                        margin: 10px auto 15px;
                        background-image: url("../images/icons.png");
            }
            p, h3 {
                color: #FFF;
            }
        }

      &.--two  .infoBlock   {    width: 50%;}
      &.--four .infoBlock   {    width: 25%;}
      &.--three .infoBlock  {    width: 33%;}
      @include tablets {
          &.--two  .infoBlock   {    width: 100%;}
          &.--four .infoBlock   {    width: 50%;}
          &.--three .infoBlock  {    width: 50%;}
      }
      @include m550 {
          &.--four .infoBlock   {    width: 100%;}
          &.--three .infoBlock  {    width: 100%;}
      }
}

#explain {
    background-image: url("../images/explainBg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    padding-bottom: 0 !important;
    .infoBlock:nth-child {padding-right: 35px;}
    .infoBlock:nth-child(2n) {
        padding-left: 35px;
        padding-right: 0;
    }
    .infoBlock_icon, .infoBlock__text {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    .infoBlock__text {
        width: calc(100% - 105px);
        text-align: left;
        padding-left: 15px;
        h3 {
            font-family: 'museo_sans_cyrl900';
            margin-bottom: 6px;
        } 
    }
    @include tablets {
          .infoBlock {margin: 10px auto !important; padding: 0 !important;}
    }

}
#explain .infoBlock:nth-of-type(1) .infoBlock_icon {background-position: -5px -630px;}
#explain .infoBlock:nth-of-type(2) .infoBlock_icon {background-position: -5px -735px;}
#explain .infoBlock:nth-of-type(3) .infoBlock_icon {background-position: -5px -840px;}
#explain .infoBlock:nth-of-type(4) .infoBlock_icon {background-position: -5px -105px;}


#howWeWork .infoBlock:nth-of-type(1) .infoBlock_icon {background-position: -5px -945px;}
#howWeWork .infoBlock:nth-of-type(2) .infoBlock_icon {background-position: -5px -0px;}
#howWeWork .infoBlock:nth-of-type(3) .infoBlock_icon {background-position: -5px -210px;}
#howWeWork .infoBlock:nth-of-type(4) .infoBlock_icon {background-position: -5px -315px;}
#howWeWork .infoBlock:nth-of-type(5) .infoBlock_icon {background-position: -5px -420px;}
#howWeWork .infoBlock:nth-of-type(6) .infoBlock_icon {background-position: -5px -525px;}
#howWeWork {
    background-image: url("../images/howWeWorkBg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    .infoBlocks {
        background-image: url("../images/howWeBg-2.png");
        background-position: 100% 22%;
        background-repeat: no-repeat;
        @include tablets {
          background-image: none;
        }
    }
}


form.horizontal {
    border: 10px solid rgba(255,255,255, .2);
    margin-bottom: -10px;
    padding: 40px 34px;
    background: transparent;
    width: 100%;
    h3 {
        color: #FFF;
        font: 24px 'museo_cyrl900';
        margin-bottom: 25px;
        small {
            font-family: 'museo_sans_cyrl300';
        }
    }
    .form__phone,
    .form__name {
        width: 270px !important;
        margin-right: 25px;
    }
    @include tablets {
        margin-top: 40px;
    }
    @include phones {
        h3 {font-size: 20px;}
        padding: 20px 10px;
        border: 5px solid rgba(255,255,255, .2);
        .form__phone,
        .form__name {margin: 10px auto; width: 260px !important;}
        .button {margin: 10px auto; width: 260px !important;}
    }
}


#services {
    padding-bottom: 0;
    h2 {
        margin-bottom: 25px;
    }
}

/*--------------------- Working space ------------------------*/
/*--------------------- Do not cross! ------------------------*/

/*---------------------- 
    ADDITIONALS
------------------------*/
.additionals {
  padding-bottom: 0;
  background-image: url(../images/big_wall.jpg);
  background-repeat: repeat-y;
  background-size: 1920px auto;
  background-position: 50% 50%;

  .wrapper {
    @include phones {
      padding: 0;
    }
  }

  .box-wrap {
    text-align: justify;

    @include phones {
      text-align: center;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }

    .feature {
      width: 32.2%;
      height: 220px;
      border: 5px solid #fff;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      box-shadow: 0px 2px 21px 0px rgba( 0, 0, 0, .31 );
      padding: 45px 30px 0;

      @include tablets {
        & {
          padding-top: 20px;
        }

        br {
          display: none;
        }
      }

      @include phones {
        & {
          width: 270px;
          margin: 0 1% 20px;
          padding-top: 40px;
        }
      }

      h3 {
        font-size: 20px;
        font-family: 'museo_cyrl900';
        font-weight: normal;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}


/*---------------------- 
    Ul lists
------------------------*/
.services,
.reasons {
    background: url('../images/big_wall.jpg') repeat;
}
.reasons {
  padding-bottom: 0;

  .wrapper {
    @include phones {
      padding: 0;
    }
  }


  .list {
    margin-top: 0;
  }
}
.list {
    border: 5px solid #EEE;
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 22px);
    box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, .3);
    margin-top: 55px;
    background-color: #FFF;
    @include phones {
        width: 100%;
        margin: 25px auto 25px !important;
    }
    &:nth-of-type(2) {
        margin-left: 40px;
    }

    @include phones {
        width: 350px;
        display: block;
        vertical-align: top;
    }
    @media (max-width: 400px) {
        width: 95%;
        display: block;
        vertical-align: top;
    }

    .heading {
      @extend %vertAlign;
      height: 115px;

      h3 {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        width: 95%;

        @include tablets {
          & {
            font-size: 20px;
          }
        }
      }
    }

    img {
        width: 100%;
    }
    h3 {
        font-size: 24px;
        text-align: center;
        margin: 25px 0 20px 0;
        text-transform: uppercase;
    }
    ul {
        padding: 0 25px;
        background-color: #FFF;
        list-style-type: none;
        text-align: left;
        margin: 0;
        li {
            padding: 17px 0 17px 20px;
            position: relative;
            border-top: 2px solid #E8E8E8;
            font-family: Verdana;
            font-size: 13px;
            color: $colorGrey;
            line-height: 24px;
            &:before {
                @include position(absolute, 20px, auto, auto, 0);
                width: 9px; height: 9px;
                background-image: url("../images/list-blue.png"); 
                background-size: 100% 100%;
                content: ""; display: inline-block;
            }

            strong {
              font-family: Verdana;
              font-weight: 900;
            }
        }   
    }
    &.--green li,
    &.--red li          {
      padding-left: 27px;
      @include phones {
        & {
          height: auto!important;
        }
      }
    }
    &.--green li:before {
        background-image: url("../images/list-green.png"); 
        width: 14px;
        height: 14px;
        top: 22px;
    }
    &.--red li:before {
        background-image: url("../images/list-red.png"); 
        width: 14px;
        height: 14px;
        top: 22px;
    } 
}

.discount {
  margin-top: 80px;
  background-color: $colorBlueD;
  padding: 27px 50px;

  @include phones {
    padding: 27px 10px;
  }
  
  .text {
    width: calc(100% - 270px);
    display: inline-block;
    vertical-align: middle;
    margin: 0 -2px;
    padding-right: 35px;

    @include phones {
      & {
        width: 100%;
        padding-right: 0;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    
    p {
      color: #fff;
      text-align: right;
      font: 14px 'museo_cyrl700';

      @include phones {
        text-align: center;
      }

      &.--left {
          text-align: left;

          @include phones {
            text-align: center;
          }
      }
      strong {
          display: block;
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 8px;

          @include tablets {
            & {
              font-size: 20px;
              line-height: normal;
            }
          }
      }
    }
  }

  .button {
    margin: 0 -2px;
  }
}


/*---------------------- 
  Works
------------------------*/
.works_slider {
    width: 1000px;
    margin-left: -20px;
    @include tablets {
        width: 100%;
        margin: 0;
    }
}
.works__work__main,
.works__work__detail {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    @include m550 {
        width: 100%;
        padding-right: 0 !important;
    }
}
.works__work {
    padding: 20px 0 0 20px;
     @include m550 {
        padding: 0 !important;
    }
}
.works__work__main {
    padding-right: 30px;
    &__img {
        border: 5px solid #fff;
        position: relative;
        margin-bottom: 40px;
        box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.3);
        img {
            width: 100%;
            display: block;
        }
        span {
            @include position(absolute, 30px, auto, auto, -5px);
            width: 145px;
            padding: 15px 0 13px 0;
            text-align: center;
            color: #FFF;
            text-transform: uppercase;
            background-color: rgba(48, 167, 228, .9);
            font: 22px 'museo_cyrl700';
        }
        @include phones { 
            span {font-size: 16px; width: 100px; padding: 13px 0 11px 0;}
        }
    }
     ul {
            list-style-type: none;
            text-align: left;
        li {
            padding-bottom: 20px;
            margin-bottom: 20px;
            &:not(:last-child) {
                border-bottom: 1px solid #E8E8E8;    
            }
            span {
                display: inline-block; vertical-align: middle;
                width: 60%;
                border-right: 1px solid  #E8E8E8;
                padding-right: 10px;
                font: 18px 'museo_cyrl700';
                color: #3A3A3A;
            }
            em {
                display: inline-block; vertical-align: middle;
                width: 38%;
                text-align: center;
                color: #30A7E4;
                font: 24px 'museo_cyrl700';
            } 
            @include phones { 
                span {font-size: 14px;}
                em {font-size: 18px;}
            }
        }
    }
}
.works__work__detail {
    text-align: left;
    h3 {
        display: inline-block; vertical-align: middle;
        width: 60%;
        border-right: 1px solid  #E8E8E8;
        font-size: 28px;line-height: 34px;
        padding-right: 5px;
        @include phones { 
            font-size: 20px; line-height: 24px;
        }
    }
    em {
        display: inline-block; vertical-align: middle;
        width: 38%;
        text-align: center;
        color: #30A7E4;
        font: 24px 'museo_cyrl700';
        small {
            text-align: center;
            color: #3A3A3A;
            margin: 0;
        }
        @include phones { 
            font-size: 20px;
        }
    }
    small {
        display: block;
        text-align: left;
        margin: 15px 0;
    }
    .term {
        padding: 18px 0 16px;
        border-top: 2px solid  #E8E8E8;
        border-bottom: 2px solid  #E8E8E8;
        margin-bottom: 25px;
        font: 18px 'museo_cyrl700';
        span {
            color: #30A7E4;
        }
    }
    h4 {
        font: 18px 'museo_cyrl700';
    }
    ul {
        list-style-type: none;
        li {
            position: relative;
            font-family: Verdana;
            font-size: 13px;
            color: $colorGrey;
            margin-bottom: 15px;
            text-align: left;
            padding-left: 20px;
            &:before {
                @include position(absolute, 5px, auto, auto, 0);
                width: 9px; height: 9px;
                background-image: url("../images/list-blue.png"); 
                background-size: 100% 100%;
                content: ""; display: inline-block;
            }
        }
    }
}

.slick-dots {
    width: 950px;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background-color: #fff;
    z-index: 2;
    margin-top: 10px;
    @include tablets {
        width: 100%;
    }
    &:after {
        display: inline-block;
        width: 45%;
        content: "";
        position: absolute;
        bottom: 10px;
        left: 0;
        border-top: 4px solid #E8E8E8;
        z-index: 1;
    }
    &:before {
        display: inline-block;
        width: 45%;
        content: "";
        position: absolute;
        bottom: 10px;
        right: 0;
        border-top: 4px solid #E8E8E8;
        z-index: 1;
    }
    @include m550 {
        &:before,
        &:after {display: none;}
    }
    li {
        width: 16px;
        height: 16px;
        background-color: #30A7E4;
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
        opacity: .6;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        &.slick-active {
            opacity: 1;
        }
        button {
            display: none;
        }
    }
}

/*---------------------- 
    GARANTY
------------------------*/
.garanty {
  background-image: url(../images/garanty.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  padding: 0;

  .wrapper {
    padding: 70px 0 50px;
    position: relative;
    border-left: 380px solid transparent;
    text-align: left;

    @include phones {
      & {
        border-left: 0;
        text-align: center;
        padding: 50px 15px;
      }
    }

    .boss {
      @include position(absolute, auto, auto, 0, -430px);

      @include phones {
        display: none;
      }
    }
  }

  h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
  }

  p {
    color: #fff;
    font-size: 18px;
    line-height: 36px;

    @include tablets {
      & {
        line-height: normal;
      }
      br {
        display: none;
      }
    }

    &.blue {
      color: $colorBlue;
      margin-top: 35px;
      margin-bottom: 40px
    }

    &.boss_name {
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 2px;
    }
  }

  hr {
    border: 0;
    border-bottom: 3px solid rgba(255, 255, 255, .1);
    margin-bottom: 24px;
  }
}



/*---------------------- 
    QUESTIONS
------------------------*/
.questions {
  padding: 70px 0;
  box-shadow: 0px 2px 21px 0px rgba( 0, 0, 0, .31 );
  position: relative;
  z-index: 6;

  .text_block {
    width: calc(100% - 350px);
    display: inline-block;
    vertical-align: middle;
    margin: 0 -2px;
    text-align: center;
    border-right: 45px solid transparent;
    font-family: 'museo_sans_cyrl300';
    font-size: 18px;

    @include phones {
      & {
        width: 100%;
        border-right: 0;
        margin-bottom: 50px;
      }
    }

    h2 {
      font-size: 26px;
      margin-bottom: 9px;

      @include tablets {
        & {
          font-size: 20px;
        }
      }
    }

    .phone {
      font-size: 48px;
      color: $colorBlue!important;
      font-family: 'museo_sans_cyrl700';
      margin-bottom: 1px;

      @include tablets {
        font-size: 38px;
      }

      @include phones {
        font-size: 30px;
      }
    }

    hr {
      border: 0;
      margin: 17px 0;
      border-bottom: 2px solid #e4e2e5;
    }

    .call_us {
      font-size: 22px;
      font-family: 'museo_sans_cyrl700';
      line-height: 30px;
    }

    .tip {
      line-height: 30px;

      @include tablets {
        & br {
          display: none;
        }
      }
    }

  }
}
.form {
  background-color: $colorBlueD;
  width: 350px;
  padding: 40px;
  margin: 0 -2px;
  display: inline-block;
  vertical-align: middle;

  @include phones {
    width: 290px;
    padding: 20px;

    .button {
      width: 100%;
    }
  }

  span {
    width: 100%;
    height: 55px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #F7F7F7;
    display: inline-block;
    border-left: 50px solid transparent;
    position: relative;

    &:after {
      content: '';
      width: 1px;
      height: 26px;
      margin-top: -13px;
      @include position(absolute, 50%, auto, auto, 0);
      background-color: #d9d9d9;
    }

    &:before {
      content: '';
      width: 50px;
      height: 100%;
      @include position(absolute, 0, auto, 0, -50px);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &.form__name:before {
      background-image: url(../images/man.png);
    }
    &.form__phone:before {
      background-image: url(../images/phone.png);
    }
  }

  input {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: transparent;
    padding-left: 14px;
    font-size: 12px;
    font-family: Verdana;
    color: $colorGrey;
  }
}


/*---------------------- 
    MAP
------------------------*/
.map {
  height: 500px;
  position: relative;

  @include tablets {
    height: 400px;
  }

  @include phones {
    padding: 0;
    height: auto;
  }


  .wrapper {
    height: 100%;
    @extend %vertAlign;
    text-align: right;

    @include phones {
      height: auto;
      padding: 25px 15px;
      &:before {
        display: none;
      }
    }
  }

  .map_canvas {
    width: 100%;
    height: 100%;
    @include position(absolute, 0, 0, 0, 0);
    z-index: 5;

    @include phones {
      position: relative;
      height: 250px;
      width: 100%;
    }
  }
}

.contacts_block {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  z-index: 10;
  position: relative;
  width: 320px;
  padding: 20px 25px;
  background-color: #fff;
  border: 5px solid #eee;
  position: relative;
  box-shadow: 0px 2px 21px 0px rgba( 0, 0, 0, .31 );
  color: #3a3a3a;

  @include phones {
    width: 100%;
    box-shadow: none;
  }

  &:before {
    content: '';
    width: 34px;
    height: 58px;
    @include position(absolute, 50%, auto, auto, -34px);
    margin-top: -29px;
    background-image: url(../images/triangle.png);
    @include filter( drop-shadow(-12px 0px 6px rgba( 0, 0, 0, .1 )) );

    @include phones {
      & {
        display: none;
      }
    }
  }

  h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  address {
    font-style: normal;
    font-size: 14px;
    color: #3a3a3a;
    margin-bottom: 13px;
  }

  .contacts_block__phone {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .contacts_block__mail {
    font-size: 14px;
    color: $colorBlue;

    &:hover {
      text-decoration: underline;
    }
  }
}



/*---------------------- 
    FOOTER
------------------------*/
footer {
  padding: 15px 0;
  background: $colorBlueD;

  p {
    color: #fff;
  }

  .left_side {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 -2px;
    text-align: left;

    @include tablets {
      width: 50%;
    }

    @include phones {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }

    .logo--footer {
      display: inline-block;
      vertical-align: middle;
      margin-right: 50px;
      width: 82px;

      @include tablets {
        margin-right: 10px;
        width: 60px;
      }

      img {
        max-width: 100%;
      }
    }

    p {
      display: inline-block;
      vertical-align: middle;
      font-family: Verdana;
      font-size: 13px;
      line-height: 22px;

      @include tablets {
        font-size: 11px;
      }
    }
  }

  .right_side {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 -2px;

    @include tablets {
      width: 50%;
    }

    @include phones {
      width: 100%;
    }

    .phone_block {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 170px);
      margin: 0 -2px;
      text-align: left;
      color: #fff;

      @include phones {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }

      a {
        font-size: 24px;
        font-family: 'museo_cyrl700';
        display: block;

        @include tablets {
          font-size: 20px;
        }
      }

      span {
        font-size: 12px;
        display: block;
        font-family: 'museo_sans_cyrl300';
        line-height: 18px;

        @include tablets {
          font-size: 10px;
        }

        &.hours {
          color: $colorBlue;
        }
      }
    }

    .button {
      margin: 0 -2px;
    }
  }
}
