@import 'reset';
@import 'settings';
@import 'mixins';



/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/



/*---------------------- 
    BUTTON STYLES
------------------------*/
.button {
  background: -moz-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(234,203,60) 53%, rgb(237,228,86) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(234,203,60) 53%, rgb(237,228,86) 100%);
  background: -ms-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(234,203,60) 53%, rgb(237,228,86) 100%);
  box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, .33),
              0px -2px 1px 0px rgba(0, 0, 0, 0.43) inset;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-family: 'museo_cyrl900';
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba( 0, 0, 0, .35);
  border: 0;
  @include transition(all, .3s);
  
  &:hover {
    background: -moz-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(230,177,34) 53%, rgb(230,177,34) 100%);
    background: -webkit-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(230,177,34) 53%, rgb(230,177,34) 100%);
    background: -ms-linear-gradient( 90deg, rgb(230,177,34) 0%, rgb(230,177,34) 53%, rgb(230,177,34) 100%);
  }

  &.button--big {
    border-radius: 10px;
    width: 270px;
    height: 55px;
    padding-top: 15px;
    font-size: 20px;
  }

  &.button--small {
    border-radius: 10px;
    width: 170px;
    height: 40px;
    font-size: 14px;
    padding-top: 10px;
  }
}
button {
  &.button {
    &.button--big,
    &.button--small {
      padding-top: 0;
    }  
  }
}

/*---------------------- 
    HEADER STYLES
------------------------*/
header {
            margin: 0;
            left:0;
            @include position(absolute, 0, auto, auto, 0);
            width: 100%;
            z-index: 100;
            @include transition(all, .4s);
            
    @include m800 {
             @include position(fixed, 0, auto, auto, -100%);
             width: 260px !important;
             height: 100%;
             text-align: center;
             margin-top: 0;
             padding: 20px 0;
             z-index: 100;
             background-color: $colorGrey;
             
             &.active {left: 0;}
    }
            
     /*-------- header_info ---------*/       
    .header__info {
         background: url('../images/header_info_bg.jpg') no-repeat center center;
         padding: 14px 0;
        .wrapper {
             @include flex();   
        }
         
        .logo {
                    position: relative;
                    height: 115px;
                    display: block;
            & img {
                        display: inline-block;
                        vertical-align: middle;
            }
            & span {
                        display: inline-block;
                        vertical-align: middle;
                        font: $fontVerdana;
                        text-align: left;
                        margin-left: 24px;
            }
        }

        .contactUs {
            color: $colorGrey;
            text-align: left;
            a {
                display: block;
                text-align: left;
                font-family: 'museo_cyrl700';
            } 
            .tel {
                font-size: 24px;
            }
            .mail {
                font-size: 14px;
                color: $colorBlue;
                margin: 5px 0;
            }
            span  {
                font-size: 14px;
                text-align: left;
                color: $colorGrey;
                font-family: 'museo_cyrl700';
            }  
        }
    }/*-------- end header__info ---------*/     


    /*-------- nav ---------*/
    nav {
        width: 100%;
        background-color: $colorGrey;
        & ul {
                    @include flex();
                    list-style-type: none;
                    margin: 0;
            li:before {content: " | "; color: $colorGreyL; margin-right: 0; vertical-align: middle;}
            li:first-of-type:before {display: none;}
            &  a {
                    font:  12px 'museo_sans_cyrl500';
                    text-transform: uppercase;
                    color: #FFF;
                    display: inline-block;
                    padding: 22px 18px 15px;
                    text-decoration: none;
                    border-bottom: 4px solid transparent;
                    @include transition(all, .2s);
                &:hover {border-bottom: 4px solid $colorGreyL;}
                &.active {border-bottom: 4px solid $colorBlue;}
            }

        }

        @include m800 { 
            display: block;
            height: 100%;
            width: 100%;
            overflow: scroll;
            position: relative;
                & ul { 
                    @include flexDirection(column);
                    width: 100% !important;
                }
                    &  li a  {   
                        margin: 0 0 25px 0;
                        &.active {color: #ECCC1D;}
                        &:hover  {background: transparent;}
                    } 
        }
    }/*-------- end nav ---------*/    
       
}/*-------- end header ---------*/       







/* ------- menu toggle --------- */
.menu-button                  {    
                                    display: none;
                                    width: 50px;
                                    height: 50px;
                                    @include position(fixed, 15px, 15px, auto, auto);
                                    margin: auto; 
                                    cursor: pointer;
                                    z-index: 100;
                                    background-color: salmon;
                                    border: none;
                                    -webkit-border-radius: 4px;
                                            border-radius: 4px;
      .menu-line                    {
                                          display: block;
                                          @include position(absolute, auto, 0, auto, 0);
                                          width: 60%;
                                          height: 5px;
                                          background-color: #fff;
                                          -webkit-border-radius: 1px;
                                          border-radius: 1px;
                                          @include transition(all, .4s);
      }

      .top_line                     {   top: 12px;  margin: auto;}
      .middle_line                  {   top: 22px;  margin: auto;}
      .bottom_line                  {   bottom: 12px; margin: auto;}

      &.active                      {   -webkit-border-radius: 6px; border-radius: 6px;}
      &.active .top_line            {   @include transform(rotate(45deg)); top: 45%;}
      &.active .bottom_line         {   @include transform(rotate(-45deg)); bottom: 45%;}
      &.active .middle_line         {   width: 0; left: 50%;}

      @include m800 {
            display: block;
      }

}




/*---------------------- 
    OFFER STYLES
------------------------*/
.offer {
      height: 100%;
      min-height: 650px;
      max-height: 900px;
      background: url('../images/offer_bg.jpg') no-repeat center center;
      background-size: cover;
      padding: 100px 0 0 0;
      position: relative;

        .offerInfo {
            height: 100%;
            @include flex($alignI: center, $justify: center, $direction: column);
            z-index: 2;
            position: relative;
            text-align: center;
            & h1 {
                text-transform: uppercase;
                span {
                    display: block;
                    text-transform: none;
                    font-family: 'museo_sans_cyrl300';
                }
            }
            p {
                color: $colorBlue;
            }
        }

}

/*---------------------- 
    INFOBLOCKS STYLES
------------------------*/
.infoBlocks {
      @include flex($alignI: top, $justify: center, $wrap: wrap);
      
      .infoBlock  {
                  margin-bottom: 40px;
                  padding: 0 20px;
                  text-align: center;
                  color: #FFF;
            &_icon {
                        width: 100px;
                        height: 100px;
                        text-align: center;
                        margin: 10px auto 15px;
                        background-image: url("../images/icons.png");
            }
            p, h3 {
                color: #FFF;
            }
        }

      &.--two  .infoBlock   {    width: 50%;}
      &.--four .infoBlock   {    width: 25%;}
      &.--three .infoBlock  {    width: 33%;}
}

#explain {
    background-image: url("../images/explainBg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    padding-bottom: 0 !important;
    .infoBlock:nth-child {padding-right: 35px;}
    .infoBlock:nth-child(2n) {
        padding-left: 35px;
        padding-right: 0;
    }
    .infoBlock_icon, .infoBlock__text {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    .infoBlock__text {
        width: calc(100% - 105px);
        text-align: left;
        padding-left: 15px;   
    }

}
#explain .infoBlock:nth-of-type(1) .infoBlock_icon {background-position: -5px -630px;}
#explain .infoBlock:nth-of-type(2) .infoBlock_icon {background-position: -5px -735px;}
#explain .infoBlock:nth-of-type(3) .infoBlock_icon {background-position: -5px -840px;}
#explain .infoBlock:nth-of-type(4) .infoBlock_icon {background-position: -5px -105px;}


#howWeWork .infoBlock:nth-of-type(1) .infoBlock_icon {background-position: -5px -945px;}
#howWeWork .infoBlock:nth-of-type(2) .infoBlock_icon {background-position: -5px -0px;}
#howWeWork .infoBlock:nth-of-type(3) .infoBlock_icon {background-position: -5px -210px;}
#howWeWork .infoBlock:nth-of-type(4) .infoBlock_icon {background-position: -5px -315px;}
#howWeWork .infoBlock:nth-of-type(5) .infoBlock_icon {background-position: -5px -420px;}
#howWeWork .infoBlock:nth-of-type(6) .infoBlock_icon {background-position: -5px -525px;}
#howWeWork {
    background-image: url("../images/howWeWorkBg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    .infoBlocks {
        background-image: url("../images/howWeBg-2.png");
        background-position: 100% 22%;
        background-repeat: no-repeat;
    }
}


form.bordered {
    border: 10px solid rgba(255,255,255, .2);
    margin-bottom: -10px;
    padding: 40px;
}

    form h3 {
        color: #FFF;
    }


/*---------------------- 
    Ul lists
------------------------*/
#services,
#reasons {
    background: url('../images/header_info_bg.jpg') repeat;
}
.list {
    border: 5px solid #EEE;
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 22px);
    box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, .3);
    margin-top: 55px;
    background-color: #FFF;
    &:nth-of-type(2) {
        margin-left: 40px;
    }
    img {
        width: 100%;
    }
    h3 {
        font-size: 24px;
        text-align: center;
        margin: 25px 0 20px 0;
        text-transform: uppercase;
    }
    ul {
        padding: 0 25px;
        background-color: #FFF;
        list-style-type: none;
        text-align: left;
        margin: 0;
        li {
            padding: 17px 0 17px 20px;
            position: relative;
            border-top: 2px solid #E8E8E8;
            &:before {
                @include position(absolute, 20px, auto, auto, 0);
                width: 9px; height: 9px;
                background-image: url("../images/list-blue.png"); 
                background-size: 100% 100%;
                content: ""; display: inline-block;
            }
        }   
    }
    &.--green li,
    &.--red li          {   padding-left: 27px;}
    &.--green li:before {
        background-image: url("../images/list-green.png"); 
        width: 14px;
        height: 14px;
        top: 16px;
    }
    &.--red li:before {
        background-image: url("../images/list-red.png"); 
        width: 14px;
        height: 14px;
        top: 16px;
    } 
}




/*--------------------- Working space ------------------------*/
/*--------------------- Do not cross! ------------------------*/

/*---------------------- 
    FOOTER
------------------------*/
footer {
  padding: 15px 0;
  color: #fff;
  background: $colorBlueD;
  @extend %clearfix;
}
